body {
	background-image: url(../images/fog.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center fixed;
}

h1, h2 {
	text-align: center;
	color: white;
	position: relative;
}
h1 {
	margin-top: 20%;
}

.center {
	text-align: center;

}

